.login {
  border-radius: 20px;
  font-size: 12pt;
  color: var(--secondaryfont-color);
  background: var(--main-color);
  border: none;
  padding: 20px 80px;
}

.inputmail {
  border-radius: 20px;
  font-size: 14pt;
  background: var(--secondarybg-color);
  border: none;
  padding: 20px 20px;
}

.inputpw {
  border-radius: 20px;
  font-size: 14pt;
  background: var(--secondarybg-color);
  border: none;
  padding: 20px 20px;
}

::placeholder {
  color: var(--placeholder-color);
}
