.btnfilled {
  border-radius: 20px;
  font-size: 16pt;
  color: var(--secondaryfont-color);
  background: var(--main-color);
  border: none;
  padding: 10px 20px;
}

.btnbord {
  border-radius: 20px;
  font-size: 16pt;
  color: var(--main-color);
  background: var(--secondaryfont-color);
  border: solid 1px var(--main-color);
  padding: 10px 20px;
}

.btnfb {
  border-radius: 20px;
  background: var(--fb-color);
  font-size: 12pt;
  color: var(--secondaryfont-color);
  border: none;
  padding: 10px 20px;
  font-family: sans-serif;
}
