.card-img {
  width: 117px;
  height: 117px;
  object-fit: cover;
  border-radius: 25px;
}

.card-text {
  font-size: 14pt;
  text-align: center;
  color: var(--primaryfont-color);

  font-weight: bold;
}

.container {
  display: grid;
  grid-gap: 1rem 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 20px;
}
