@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@font-face {
  font-family: metropolis;
  src: url("http://db.onlinewebfonts.com/t/c02d97eb2b2899bdb0d87b182a64333d.woff2");
  src: url("http://db.onlinewebfonts.com/t/c02d97eb2b2899bdb0d87b182a64333d.woff");
  src: url("http://db.onlinewebfonts.com/t/c02d97eb2b2899bdb0d87b182a64333d.ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #fc6011;
  --primaryfont-color: #4a4b4d;
  --secondaryfont-color: #ffffff;
  --placeholder-color: #b6b7b7;
  --fb-color: #367fc0;
  --secondarybg-color: #f2f2f2;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: metropolis, sans-serif;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
